#wrapper {
	display: flex;
	justify-content: center;
}

form {
	display: block;
    text-align: center;
	font-family: muli, sans-serif;
	width: 20%;
	margin-top: 30px;
	padding: 20px;
	box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
	margin-bottom: 30px;
}

#form {
	text-align: left;
	display: inline-block;
	margin-left: auto;
    margin-right: auto;
}

h1 {
	text-align: center;
	color: #e43e6f;
}

label {
	font-size: 18px;
	font-family: muli, sans-serif;
}

#add {
	margin-top: 30px;
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #e43e6f;
	text-align: center;
	cursor: pointer;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
	transition: 0.2s all; 
}

#edit {
	margin-top: 30px;
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #e43e6f;
	text-align: center;
	cursor: pointer;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
	transition: 0.2s all; 
}

#add:active {
	transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#add:hover {
	opacity: 0.8;
}

#edit:active {
	transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#edit:hover {
	opacity: 0.8;
}