select {
	font-size: 15px;
	font-family: muli, sans-serif;
	padding-top: 5px;
	padding-bottom: 5px;
	border-color: #AAAAAA;
}

.products {
	padding-left: 105px;
}

.product {
	transition: box-shadow .3s;
	color: black;
	background-color: white;
	max-width: 300px;
	margin: auto;
	border: 1px solid #CCC;
	text-align: center;
	font-family: muli, sans-serif;
	font-weight: bold;
	padding: 15px;
	margin: -10px;
}

.product:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.price {
	color: grey;
	font-size: 22px;
}

.adminBtn {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	text-align: center;
	cursor: pointer;
	width: 40%;
	font-size: 18px;
	box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
	transition: 0.2s all; 
	border-radius: 25px;
}

.product button:active {
	transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.product button:hover {
	opacity: 0.8;
}

#edit {
	background-color: #EFAE17;
}

#delete {
	background-color: #EF2D2D;
}

.line {
	display: inline-block;
	font-size: 14px;
}

#status {
	margin-left: 40px;
}
