#view-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

#view {
  position: relative;
  font-family: muli, sans-serif;
  width: 30%;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  margin-bottom: 30px;
}

table {
  width: 90%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 15px;
}

#order tr:nth-child(even) {
  background-color: #fff;
}

#order tr:nth-child(odd) {
 background-color: #f7e5fa;
}

#order th {
  background-color: #f08cec;
  color: white;
}

#editLink {
	text-align: center;
}