.categories {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
  text-align: center;
}

.hovereffect {
  	width: 100%;
  	height: 100%;
  	float: left;
  	overflow: hidden;
  	position: relative;
  	text-align: center;
  	cursor: default;
}

.hovereffect .overlay-anime {
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	overflow: hidden;
  	top: 0;
  	left: 0;
  	padding: 50px 20px;
  	visibility: hidden;
}

.hovereffect .overlay-manga {
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	overflow: hidden;
  	top: 0;
  	left: 0;
  	padding: 50px 20px;
  	visibility: hidden;
}

.hovereffect .overlay-figure {
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	overflow: hidden;
  	top: 0;
  	left: 0;
  	padding: 50px 20px;
  	visibility: hidden;
}

.hovereffect img {
  	position: relative;
  	width: 100%;
	  max-width: 1408px;
	  max-height: 400px;
  	width: calc(100% + 20px);
  	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  	transition: opacity 0.35s, transform 0.35s;
  	-webkit-transform: translate3d(-10px, 0, 0);
}

.hovereffect:hover .overlay-anime {
  	visibility: visible;
}

.hovereffect:hover .overlay-manga {
  	visibility: visible;
}

.hovereffect:hover .overlay-figure {
  	visibility: visible;
}

.hovereffect:hover img {
    opacity: 0.6;
  	-webkit-transform: translate3d(0, 0, 0);
}

.hovereffect a,
.hovereffect p {
  	color: #FFF;
  	opacity: 0;
  	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  	transition: opacity 0.35s, transform 0.35s;
  	-webkit-transform: translate3d(100%, 0, 0);
}

.hovereffect:hover a,
.hovereffect:hover p {
  	color: white;
	  font-size: 40px;
	  font-weight: bold;
    font-family: muli, sans-serif;
	  opacity: 1;
    margin: auto;
    -webkit-transform: translate3d(0, 0, 0);
    background-color: rgba(240, 208, 246, 0.5);
    padding: 30px;
    width: 500px;
}